.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  margin-bottom: 100px;
}

.logo {
  z-index: 3;

}

.logo_place_header{
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title{
  align-self: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  width: 730px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle{
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  width: 388px;
  z-index: 1;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link {
  z-index: 1;
}

.header__main-illustration{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.description {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.two-columns {
  min-width: 784px;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__brief_title {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}


.two-columns__main-text {
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  margin: 0 auto 20px auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  z-index: 3;
}

.section-subtitle {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 2;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
 width: 250px;
 margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 auto;
  padding-top: 20px;
}

.feynman {
  height: 890px;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  position: relative;
}

.feynman__title {
  margin-top: 100px;
  margin-bottom: 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 3;
}

.feynman__subtitle {
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;

}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  bottom: 50%;
  top: 50%;
}

.kaufman {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color:  #1f1f1f;
}

.section-title_theme_dark {
  color: white;
  margin-top: 90px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  z-index: 3;
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 2;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}

.table_theme_dark {
  z-index: 1;
  padding-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.footer {
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color:  #1f1f1f;
}


.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 250px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.logo_place_footer {
  width: 184px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;

}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;


}

.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;

}

